name: ci

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  lint-test-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'
          cache: true
      - name: Run fmt/lint/test
        run: make ci

